body {
    background-color: lightcyan;
}

.div {
    background-color: lightblue;
}

#AND {
    background-color: lightgrey;
    text-align: center;
}
#ali{
    background-color:lightsteelblue ;
}


